<nav class="relative py-4 mb-12 md:mb-20 bg-transparent" data-config-target=".navbar-menu" data-config-class="hidden">
    <div class="container px-4 mx-auto">
        <div class="flex items-center">
            <a class="inline-block text-lg font-bold" href="#">
                <img class="h-20" src="/logo.png" alt="" >
            </a>
            <div class="lg:hidden ml-auto">
                <button x-on:click="mobileNavOpen = !mobileNavOpen" class="flex w-12 h-12 items-center justify-center bg-gray-100 hover:bg-gray-200 rounded-md transition duration-200">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-1">
                        <path d="M3 12H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 6H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 18H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
            <ul class="hidden lg:flex ml-14 lg:w-auto lg:space-x-12">
                <li class="group relative">
                    <a class="inline-block text-md text-gray-900 hover:text-blue-900 font-medium" href="#">Featured</a>
                    <div class="hidden group-hover:block absolute top-full left-0 min-w-max max-w-xs p-4 z-30">
                        <div class="-mb-2 ml-8 w-4 h-4 rounded-sm bg-white border-l border-t border-gray-200 transform rotate-45"></div>
                        <div class="w-full max-w-xs bg-white border border-gray-100 rounded-3xl pt-4 pb-4 px-4">
                            <div class="pb-3 mb-3 border-b border-gray-100">
                                <a class="block py-3 px-4 text-sm text-gray-900 hover:bg-blue-50 rounded-lg" href="#" >Featured</a>
                                <a class="block py-3 px-4 text-sm text-gray-900 hover:bg-blue-50 rounded-lg" href="#" data-config-id="txt-378f37-5">Solutions</a>
                            </div>
                            <div class="pb-3 mb-3 border-b border-gray-100">
                                <a class="flex mb-2 items-center py-3 px-4 text-sm text-gray-900 hover:bg-blue-50 rounded-lg" href="#">
                                    <img src="/icon-download.svg" alt="">
                                    <span class="ml-3" data-config-id="txt-378f37-21">Download</span>
                                </a>
                                <a class="flex mb-2 items-center py-3 px-4 text-sm text-gray-900 hover:bg-blue-50 rounded-lg" href="#">
                                    <img src="/icon-slack.svg" alt="">
                                    <span class="ml-3">Community</span>
                                </a>
                                <a class="flex mb-2 items-center py-3 px-4 text-sm text-gray-900 hover:bg-blue-50 rounded-lg" href="#">
                                    <img src="/icon-help.svg">
                                    <span class="ml-3">Help</span>
                                </a>
                            </div>
                            <div class="flex items-center pb-3 mb-3 border-b border-gray-100">
                            <div class="flex items-center">
                                <div class="flex w-10 h-10 items-center justify-center bg-blue-50 rounded-full">
                                    <img src="/icon-email-me.svg" alt="">
                                </div>
                                <div class="ml-3">
                                    <span class="block text-xs text-gray-500">Drop us a line</span>
                                    <a class="text-sm font-semibold text-black hover:text-blue-900" href="#">hello@shuffle.dev</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li><a class="inline-block text-md text-gray-900 hover:text-blue-900 font-medium" href="#">Solutions</a></li>
                <li><a class="inline-block text-md text-gray-900 hover:text-blue-900 font-medium" href="#">Products</a></li>
                <li><a class="inline-block text-md text-gray-900 hover:text-blue-900 font-medium" href="#">Articles</a></li>
            </ul>
            <div class="hidden lg:block ml-auto">
                <div class="flex items-center">
                    <a class="relative group inline-block py-3 px-4 text-md font-semibold text-blue-900 hover:text-white border border-gray-200 rounded-md overflow-hidden transition duration-300" href="#">
                        <div class="absolute top-0 right-full w-full h-full bg-blue-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500"></div>
                        <span class="relative">Contacto</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
