---
import "@/styles/global.css";
import FloatingChat from "@components/FloatingChat.astro";

const N8N_WEBHOOK_URL = import.meta.env.PUBLIC_N8N_WEBHOOK_URL || "";
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/images/logo/logo-company.png"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Rootts & Routes Food, S.L.U</title>
</head>
<body>
<div id="background-mask " class="min-h-screen w-full bg-gray-50">
    <slot/>
</div>
<FloatingChat webhookUrl={N8N_WEBHOOK_URL} />
</body>
</html>

<style is:global>
    
   

</style>
